<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Authors</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/Style.css}" type="text/css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/authors">Blog Authors <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bootcamp">About the Bootcamp</a>
                </li>
            </ul>
        </div>
    </nav>


    <br>
    <h1 align="center"><strong>Meet the Blog Authors!</strong></h1>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <!-- Author 1 -->
                <div class="card">
                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550864745/female1-512.png" class="card-img-top" alt="female">
                    <div class="card-body">
                        <h5 class="card-title">Jennifer Lee</h5>
                        <p class="card-text">Jennifer is currently in the Java Web Development Bootcamp at Montgomery College. She has a prior experience in Java Programming but the CSS, HTML, and JavaScript is a new world for her.</p>
                        <!--Mini card-->
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870341/iconfinder_linkedin_2155337.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="https://www.linkedin.com/in/jenniferjihyunlee" class="card-link">LinkedIn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870347/iconfinder_social_media_social_media_logo_github_2993771.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="https://github.com/jihyunle" class="card-link">GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870361/iconfinder_twitter_2155327.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="#" class="card-link">Twitter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg-5 col-md-5 col-sm-5">
                <!-- Author 2 -->
                <div class="card">
                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550864900/kisspng-computer-icons-avatar-male-super-b-5ac405d5122261.8229479815227959890743.jpg" class="card-img-top" alt="male">
                    <div class="card-body">
                        <h5 class="card-title">Josiah Ridgeway</h5>
                        <p class="card-text">Josiah is currently in the Java Web Development Bootcamp and the Advanced Data Analytics Bootcamp at Montgomery College. Also new to front end programming, his sercret weapon is that he is picking up BootStrap very, very fast.</p>
                        <!--Mini card-->


                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870341/iconfinder_linkedin_2155337.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="https://www.linkedin.com/in/josiah-ridgeway" class="card-link">LinkedIn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870347/iconfinder_social_media_social_media_logo_github_2993771.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="https://github.com/sw333zy" class="card-link" class="card-link">GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550870361/iconfinder_twitter_2155327.png" class="card-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="#" class="card-link">Twitter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>