<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootcamp</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/Style.css}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/authors">Blog Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bootcamp">About the Bootcamp <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div align="center">
    <div class="jumbotron bgimg intro" style="width: 1000px">
        <br>
        <h1 class="bloghome"><strong>Blog Posts</strong></h1>
        <br>
    </div>
    <div class="container blogpostscontainer" style="width:900px;">


        <div align="left" id="jan2819">
            <h5 class="subject">Git Hub 1</h5>
            <h7 class="date"><i>January 28, 2019</i></h7>
            <p>Today I learned some of what NOT to do during a merge conflict. I tried to "rebase" my code as I was
                trying to overwrite my own changes with my partners work completely. This apparently was not the right
                move.</p>
            <p>When I went tp push my code up the head was now point my partners code at a specific moment in time. This
                kept us from being able to merge as new commits had been made. While I still don't completely understand
                rebase. I know know that it is a "danger zone command" which changes history. For us we simply resarted
                our project in order to get past the ordeal.
            </p>
            <hr>
        </div>
        <div align="left" id="jan3019">
            <h5 class="subject">Git Hub 2</h5>
            <h7 class="date"><i>January 30, 2019</i></h7>
            <p>Git Hub is a wonderful resource. I always imagined that the process of collaborating on a coding project
                would be a giant pain. In some ways I was right (See Josiah's post about rebase) but Git Hub, for the
                most part, gives users ample opportunities to make sure no one team member's work goes unaccounted
                for. </p>
            <p>Learning it on the first few days of the bootcamp gave me a deeper understanding about what all those
                seemingly random "git" commands I saw on Stack Overflow meant. My tip for new users would be - remember
                these three early on: Add, Commit, Push. Pull first if you are collaborating. And if possible, only add
                the src folder so you don't have to sit through mires of merge conflict! Also, if you find yourself
                working on another person's machine, be mindful of the configuration and whose GitHub account you're
                posting from.
            </p>
            <hr>
        </div>
        <div align="left" id="feb0419">
            <h5 class="subject">Program Design</h5>
            <h7 class="date"><i>February 4, 2019</i></h7>
            <p>When writing programs you should first come up with a solid understanding of the problem you are aiming
                to solve. Then you should understand the data that will be used to solve that problem. Duriung the
                requirements and design phase you should: </p>
            <p>Define the problem to be solved.<br>Outline the solution<br>Develop an algorithm outline.<br>Test the
                alogrithm.<br>Document the solution.
            </p>
            <p>Then there is the implementation and verification phase: <br>Code the algorithm<br>Run the program<br>Test
                the program<br>Make corrections<br>Repeat</p>
            <p>This is followed by the Maintenance phase in which the solution is documented and the program is
                maintained.</p>
            <hr>
        </div>
        <div align="left" id="feb0619">
            <h5 class="subject">Program Flow</h5>
            <h7 class="date"><i>February 6, 2019</i></h7>
            <p>I like to write down the IPO - Input, Output, Processing for each project first. It helps if I can draw a
                flowchart (diagram) that show the hierarchy of each processes. It helps to have this visual aid
                throughout the project, because you can easily communicate to others what you're trying to
                accomplish.</p>
            <p>One time I was working on a chat simulation program, and I had to work through several if-statements. I
                showed someone my flowchart and my code, and it became clear that the chart was right, but the
                implementation wasn't. It's a good practice that I think is important to get it down in the beginning
                stage of learnign to code.</p>
            <hr>
        </div>
        <div align="left" id="feb1019">
            <h5 class="subject">Core Java 1</h5>
            <h7 class="date"><i>February 10, 2019</i></h7>
            <p>JAVA was developed by Sun Microsystems Inc in 1991, later acquired by Oracle Corporation. It was
                developed by James Gosling and Patrick Naughton. It is a simple programming language. Writing, compiling
                and debugging a program is easy in java. It helps to create modular programs and reusable code.</p>
            <p> Writing of a program is done by a java programmer. Then the compilation of program is done by javac
                compiler, javac is the primary java compiler included in java development kit. It takes java program as
                input and generates java bytecode as output.
                In third phase, JVM executes the bytecode generated by compiler. This is called program run phase. Each
                operating system has different JVM, however the output they produce after execution of bytecode is same
                across all operating systems.
            </p>
            <hr>
        </div>
        <div align="left" id="feb1319">
            <h5 class="subject">Core Java 2</h5>
            <h7 class="date"><i>February 13, 2019</i></h7>
            <p>Learning core java teaches you that all code can be accomplished if you have any of the three decision
                structures that includes for loops, while loops, and do while loops. For loops, and even enhanced for
                loops (especially for Strings) are pretty intuitive. I struggle with the boolean conditions in while and
                do-while loops at times, especially when the default boolean value I want to assign is false. For
                example, if the variable name I set is "userQuits", part of me confuses what this statement means:
                "while(!userQuits)."
                This is something that I've struggled with the most during the previous chat simulation program I
                mentioned in the program design post.</p>
            <hr>
        </div>

        <div align="left" id="feb1519">
            <h5 class="subject">Object Orientated 1</h5>
            <h7 class="date"><i>February 15, 2019</i></h7>
            <p>Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which may
                contain data, in the form of fields, often known as attributes; and code, in the form of procedures,
                often known as methods. A feature of objects is that an object's procedures can access and often modify
                the data fields of the object with which they are associated (objects have a notion of "this" or
                "self").
            </p>
            <p>In OOP, computer programs are designed by making them out of objects that interact with one another.
                There is significant diversity of OOP languages, but the most popular ones are class-based, meaning that
                objects are instances of classes, which typically also determine their type.
            </p>
            <p>Languages that support object-oriented programming typically use inheritance for code reuse and
                extensibility in the form of either classes or prototypes. Those that use classes support two main
                concepts: <br> Classes - Which contain the definitions for the data format and available procedures for
                a given type or class of object and may also contain data and procedure. <br>Objects: Instances of
                classes</p>
            <hr>
        </div>
        <div align="left" id="feb1719">
            <h5 class="card-title">Object Orientated 2</h5>
            <h7 class="date"><i>February 17, 2019</i></h7>
            <p>Object Oriented Programming, or OOP, gives you freedom that you can appreciate once you grasp the
                concepts of core java. Instead of playing with the primitive data types, you get to CREATE your own data
                types. Other beginners will appreciate this, but you could create a car class, a vehicle class, an
                engine class, a windows class, and much more. -- which makes sense, because the bigger the project, the
                bigger the need to compartmentalize the right way. Using OOP, you can do every nitty gritty thing you
                want to do in your Engine class, then simply extend the Car class to it. Like a parent who oversees a
                child's bank account, the superclass (car) can control the subclass (engine), and add other functions of
                its own.</p>
            <hr>
        </div>
        <div align="left" id="feb1919">
            <h5 class="card-title">HTML</h5>
            <h7 class="date"><i>February 19, 2019</i></h7>
            <p>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web
                applications. With Cascading Style Sheets (CSS) and JavaScript, it forms a triad of cornerstone
                technologies for the World Wide Web.
                Web browsers receive HTML documents from a web server or from local storage and render the documents
                into multimedia web pages. HTML describes the structure of a web page semantically and originally
                included cues for the appearance of the document.</p>
            <p>HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such
                as interactive forms may be embedded into the rendered page. HTML provides a means to create structured
                documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes
                and other items. HTML elements are delineated by tags, written using angle brackets.
            </p>
            <hr>
        </div>
        <div align="left" id="feb2019">
            <h5 class="card-title">CSS</h5>
            <h7 class="date"><i>February 20, 2019</i></h7>
            <p>CSS, and HTML are much easier when one understands what Bootstrap is. Keep in mind that is a very
                different thing from SpringBoot (Don't let the "boot" confuse you as it did me). I missed Java a lot
                during the week we focused on CSS and HTML, but I am starting to appreciate the value of front end
                programming. I have to be able to manipulate the elements on screen so that I can deliver what the
                client wants.</p>
            <hr>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>