<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootcamp</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/Style.css}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/authors">Blog Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bootcamp">About the Bootcamp <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div align="center">
    <div class="container blogpostscontainer" style="width:900px;">
        <br>
        <h1 class="blogposts"><strong>Blog Posts</strong></h1>
        <br>

        <div align="left"  id="jan2819">
                <h5 class="subject">Git Hub 1</h5>
                <h7 class="date"><i>January 28, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left"  id="jan3019">
                <h5 class="subject">Git Hub 2</h5>
                <h7 class="date"><i>January 30, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb0419">
                <h5 class="subject">Program Design</h5>
                <h7 class="date"><i>February 4, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb0619">
                <h5 class="subject">Algorithms</h5>
                <h7 class="date"><i>February 6, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb1019">
                <h5 class="subject">Core Java 1</h5>
                <h7 class="date"><i>February 10, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb1319">
                <h5 class="subject">Core Java 2</h5>
                <h7 class="date"><i>February 13, 2019</i></h7>
                    <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                        but the depletion of another key non-renewable resource continues without receiving much press at all.
                        Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                        when inhaled – could be gone from this planet within a generation.</p>
                    <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                        In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                        Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                        Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
                    </p>
            <hr>
        </div>

        <div align="left" id="feb1519">
                <h5 class="subject">Object Orientated 1</h5>
                <h7 class="date"><i>February 15, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb1719">
                <h5 class="card-title">Object Orientated 2</h5>
                <h7 class="date"><i>February 17, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb1919">
                <h5 class="card-title">HTML</h5>
                <h7 class="date"><i>February 19, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
        <div align="left" id="feb2019">
                <h5 class="card-title">CSS</h5>
                <h7 class="date"><i>February 20, 2019</i></h7>
            <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                but the depletion of another key non-renewable resource continues without receiving much press at all.
                Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                when inhaled – could be gone from this planet within a generation.</p>
            <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.
            </p>
            <hr>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>