<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootcamp</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/Style.css}" type="text/css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/authors">Blog Authors</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bootcamp">About the Bootcamp <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Background Image -->

    <br>
    <h1 align="center"><strong>About the Java Bootcamp</strong></h1>
    <br>

    <div align="center">
        <div class="container" style="width:900px;">
            <div class="container" align="left">
                <p>In recent years we have all been exposed to dire media reports concerning the impending demise of global coal and oil reserves,
                    but the depletion of another key non-renewable resource continues without receiving much press at all.
                    Helium – an inert, odourless, monatomic element known to lay people as the substance that makes balloons float and voices squeak
                    when inhaled – could be gone from this planet within a generation.</p>
                <p>Helium itself is not rare; there is actually a plentiful supply of it in the cosmos.
                    In fact, 24 per cent of our galaxy’s elemental mass consists of helium, which makes it the second most abundant element in our universe.
                    Because of its lightness, however, most helium vanished from our own planet many years ago. Consequently, only a miniscule proportion – 0.00052%, to be exact – remains in earth’s atmosphere.
                    Helium is the by-product of millennia of radioactive decay from the elements thorium and uranium. The helium is mostly trapped in subterranean natural gas bunkers and commercially extracted through a method known as fractional distillation.</p>
                <p>The loss of helium on Earth would affect society greatly.
                    Defying the perception of it as a novelty substance for parties and gimmicks, the element actually has many vital applications in society.
                    Probably the most well known commercial usage is in airships and blimps (non-flammable helium replaced hydrogen as the lifting gas du jour after the Hindenburg catastrophe in 1932,
                    during which an airship burst into flames and crashed to the ground killing some passengers and crew). But helium is also instrumental in deep-sea diving, where it is blended with
                    nitrogen to mitigate the dangers of inhaling ordinary air under high pressure; as a cleaning agent for rocket engines; and, in its most prevalent use, as a coolant for superconducting
                    magnets in hospital MRI (magnetic resonance imaging) scanners.</p>
                <p>The possibility of losing helium forever poses the threat of a real crisis because its unique qualities are extraordinarily difficult,
                    if not impossible to duplicate (certainly, no biosynthetic ersatz product is close to approaching the point of feasibility for helium, even as similar developments continue apace for oil and coal).
                    Helium is even cheerfully derided as a “loner” element since it does not adhere to other molecules like its cousin, hydrogen. According to Dr. Lee Sobotka,
                    helium is the “most noble of gases, meaning it’s very stable and non-reactive for the most part … it has a closed electronic configuration, a very tightly bound atom.
                    It is this coveting of its own electrons that prevents combination with other elements’. Another important attribute is helium’s unique boiling point,
                    which is lower than that for any other element. The worsening global shortage could render millions of dollars of high-value, life-saving equipment totally useless.
                    The dwindling supplies have already resulted in the postponement of research and development projects in physics laboratories and manufacturing plants around the world.
                    There is an enormous supply and demand imbalance partly brought about by the expansion of high-tech manufacturing in Asia.</p>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>