<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootcamp</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/Style.css}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/authors">Blog Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bootcamp">About the Bootcamp <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Background Image -->

<div align="center">
    <div class="jumbotron bgimg intro" style="width: 1000px">
        <br>
        <h1 class="bloghome"><strong>About the Java Bootcamp</strong></h1>
        <br>
    </div>
    <div class="container blogpostscontainer" style="width:900px;">
        <div class="container" align="left">
            <p>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software
                engineering program funded by the Department of Labor. This course aims to increase the number of
                skilled software developers in this country. We do this by accepting qualified candidates who cannot
                afford the cost of a coding boot camp. If accepted into the program all fees will be covered by the
                program.</p>
            <p>The Java Web Development Bootcamp takes you from your first java program to developing a web application.
                This course will give you a fast start on your career so you can take it to the next level. The course
                will teach you by forcing you to write over 130 java applications, including 5 major web applications.
                Programming challenges will keep you on your toes.
                You'll learn to create servlets and web pages. You'll use frameworks, unit tests and stored procedures.
                You'll connect to an Oracle database using the Java Persistence API(JPA), and most importantly, all
                assignments are submitted through git, so you will learn to develop using best practices in class, to
                make it easy to contribute value when you are on the job.</p>
            <p>In order to apply you must be passionate about coding and have the drive to succeed in an immersive
                environment. Our ideal candidate is an Information Systems or Computer Science major who is either at
                least a rising junior or graduated within the last six years.
                If a student doesn't meet those criteria, they can participate in a special one week mini-camp to assess
                their ability to learn in this environment.</p><p>
                Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland,
                a person who makes $42,000 or less is underemployed. Must be able to work in the United States.</p>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>